@import url("../global.css");

body{
	background:
		no-repeat 0% 82px url("../../images/neverstyle/loops3.png"),
		no-repeat 100% 82px url("../../images/neverstyle/loops4.png"),
		no-repeat 0% calc(100% - 148px) url("../../images/neverstyle/wave1.png"),
		no-repeat 100% calc(100% - 20px) url("../../images/neverstyle/wave4.png"),
		repeat-x url("../../images/neverstyle/stars.png"),
		#ff4949 linear-gradient(to bottom, #318c31, #fff 210px, #ff4949 512px);

	color: #FFF;
	min-height: 100vh; /* For backward compat. */
	min-height: 100dvh; /* For dynamic browser bars. */
	display: flex;
	flex-direction: column;
}

#banner{
	font-size: 32px;
}

#navigation{
	--item-timescale: 0.02s;
	--count: 6;

	display: flex;
	width: 100%;
	max-height: 0;
	overflow: hidden;

	/* From expanded to collapsed. */

	/* Delay collapse transition until start time of last item. */

	transition: 0.2s linear calc((var(--count) - 1) * var(--item-timescale)) max-height;
	
	li {
		/* Style attribute overrides this. */
		--index: 0;

		/* Staggered animation. */
		transition: 0.2s ease-out calc(var(--index) * var(--item-timescale)) transform;

		transform: scale(0);
	}
}

#menu-toggle:checked ~ header #navigation {
	/* From collapsed to expanded. */

	transition: 0.2s linear 0s max-height;

	max-height: 200px; /* height at 320w */

	li {
		transform: scale(1);
	}
}

#primary{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 4px;
	margin: 0 auto;
	padding: 16px 16px 0;
}

#primary li{
	display: inline;
	padding: 0;
	text-align: center;
	font-size:medium;
	font-weight: bolder;
	list-style-type: none;

}

#primary li a, #primary li a.current {
	display: block;
	text-decoration: none;
}

#primary li a{
	color: #FFF;
}

#primary li a.current {
	padding-top: 20px;
	color: #FFAF00;
}

#primary li a.current::before{
	display:block;
	height: 18px;
	content: url("../../images/neverstyle/widget.png");
}

#main {
	padding: 0 16px;
}

#contents{
	margin: 0 auto 48px;
	width: 100%;
	box-sizing: border-box;
	max-width: 832px;
	position: relative;
	padding: 32px;
	background-color: rgba(25, 25, 25, 0.5);
	border-radius: 30px;
}

#contents a{
	background-color: inherit;
	color: #F55;
}

#contents a:hover{
	background-color: inherit;
	color: #FFAF00;
}

#contents p,pre{
	margin-left: 20px;
}

#contents h2{
	color: #FFAF00;
	font-size: large;
	font-weight: bolder;
}

#contents h3{
	margin-top: 10px;
	font-weight: bold;
}

#footer{
	padding: 0 16px;
	margin-top: auto;
}

#footer > div {
	width: 100%;
	max-width: 832px;
	margin: 0 auto;
	background-color: rgba(25, 25, 25, 0.5);
	text-align: center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 0 32px;
	box-sizing: border-box;
}

#footer img{
	vertical-align: middle;
	border: 0;
}

#contents ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#contents li{
	margin-left: 2em;
	margin-top: 0.5em;
	padding-left: 18px;
	background: url("../../images/neverstyle/ball_small.png") no-repeat top left;
	line-height: 18px;
}

dt{
	color: #FFAF00;
	background-color: inherit;
	font-weight: bolder;
	padding: 6px 0 0;
}
dd { padding: 2px 0 6px; }

q{
	font-style: italic;
}

code,samp{
	font-weight: bold;
}
.dl-img-align{
	vertical-align: middle;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.mime-type{
	float: right;
	padding-right: 8em;
}

.logo{
	float: left;
}

.none,
.hidden {
	display: none;
}

.neverball-text {
	font-family: "DejaVu Sans", Verdana, sans-serif;
	font-weight: 700;
	filter: drop-shadow(0.07em 0.07em rgba(0, 0, 0, 0.5));
	background-image: linear-gradient(red, yellow);
	/* background-image: linear-gradient(red, #ffd700); */
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(255, 255, 255, 0);
}

.neverball-button {
	background: rgba(25, 25, 25, 0.5);
	outline: none;
	border: none;
	color: #fff;
	border-radius: 1rem;
	padding: 1rem;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 0.08em 0.08em rgba(0, 0, 0, 0.5);
	font-family: "DejaVu Sans", Verdana, sans-serif;
	display: inline-block;
}

.neverball-button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

.neverball-button:not(:disabled):hover,
.neverball-button:focus {
	cursor: pointer;
	background: rgba(255, 178, 76, 0.73);
	transition: background 0.1s ease-in-out;
	animation: pulse 0.2s;
	animation-timing-function: ease-in-out;
}

header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 8px;
	margin-bottom: 8px;
}

.neverball-box {
	background-color: rgba(25, 25, 25, 0.5);
	padding: 10px;
	border-radius: 1rem;
}

@keyframes pulse {
	50% {
	  transform: scale(1.2);
	}
  }

.menu-toggle {
	margin-left: auto;
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}

	#banner {
		font-size: 62px;
	}

	#navigation {
		max-height: none;

		li {
			transform: scale(1);
		}
	}

	#banner-wrapper {
		order: 1;
		text-align: center;
		width: 100%;
		background-color: transparent;
		padding: 0;
	}

	header {
		margin-bottom: 0;
	}
}