@import url("../global.css");

body{
	background:
		no-repeat 0% 82px url("../../images/neverstyle/loops3.png"),
		no-repeat 100% 82px url("../../images/neverstyle/loops4.png"),
		no-repeat 0% calc(100% - 148px) url("../../images/neverstyle/wave1.png"),
		no-repeat 100% calc(100% - 20px) url("../../images/neverstyle/wave4.png"),
		repeat-x url("../../images/neverstyle/stars.png"),
		#ff4949 linear-gradient(to bottom, #318c31, #fff 210px, #ff4949 512px);

	color: #FFF;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#banner{
	margin-bottom: 10px;
}
#banner::after{
	display: block;
	text-align: center;
	content: url("../../images/neverstyle/heading.png");
}

#banner h1{
	display:none;
}

#navigation{
	height: 70px;
	margin-bottom: 6px;
	width: 100%;
	z-index:1;
	text-align: center;
}

#primary{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#primary li{
	display: inline;
	padding: 0;
	text-align: center;
	font-size:medium;
	font-weight: bolder;
	list-style-type: none;

}

#primary li a, #primary li a.current {
	display: block;
	width: 116px;
	height: 50px;
	float: left;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	background-color: rgba(25, 25, 25, 0.5);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	text-decoration: none;
}

#primary li a{
	padding-top: 10px;
	color: #FFF;
}

#primary li a.current {
	padding-top: 20px;
	color: #FFAF00;
	cursor:default;
}

#primary li a:hover{
	padding-top: 20px;
}

#primary li a.current::before{
	display:block;
	height: 18px;
	margin-top: -8px;
	content: url("../../images/neverstyle/widget.png");
}

#contents{
	position: relative;
	margin: 0 55px 46px;
	padding: 32px;
	background-color: rgba(25, 25, 25, 0.5);
	border-radius: 30px;
}

#contents a{
	background-color: inherit;
	color: #F55;
}

#contents a:hover{
	background-color: inherit;
	color: #FFAF00;
}

#contents p,pre{
	margin-left: 20px;
}

#contents h2{
	color: #FFAF00;
	font-size: large;
	font-weight: bolder;
}

#contents h3{
	margin-top: 10px;
	font-weight: bold;
}

#footer{
	height: 50px;
	line-height: 50px;
	width: calc(100% - 110px);
	margin-left: 55px;
	background-color: rgba(25, 25, 25, 0.5);
	text-align: center;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	margin-top: auto;
}

#footer img{
	vertical-align: middle;
	border: 0;
}

#contents ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#contents li{
	margin-left: 2em;
	margin-top: 0.5em;
	padding-left: 18px;
	background: url("../../images/neverstyle/ball_small.png") no-repeat top left;
	line-height: 18px;
}

dt{
	color: #FFAF00;
	background-color: inherit;
	font-weight: bolder;
	padding: 6px 0 0;
}
dd { padding: 2px 0 6px; }

q{
	font-style: italic;
}

code,samp{
	font-weight: bold;
}
.dl-img-align{
	vertical-align: middle;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.mime-type{
	float: right;
	padding-right: 8em;
}

.logo{
	float: left;
}

.none{
	display: none;
}
